.header {
    background-color: $accent-dark;
    color: $accent-light;
    padding: 53px 0 27px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__list {
        display: flex;
        gap: 40px;
    }

    &__link {
        font-size: 18px;
        line-height: 1;
        color: $accent-light;
        background-color: $dark-800;
        border-radius: 30px;
        padding: 14px 39px;
        outline-offset: 6px;
        transition: background-color 0.3s, outline 0.3s, opacity 0.3s;

        &:hover {
            background-color: $secondary-green;
        }

        &:focus {
            outline: 1px solid $secondary-green;
        }

        &:active {
            opacity: 0.5;
        }
    }
}

.user-menu {
    display: flex;
    gap: 25px;
}