.light-theme {
   
    &.active {
        .logo {
            &__img--light {
                display: none;
            }

            &__img--black {
                display: block;
            }
        }
    }

    .faq {
        &__button {
            &:hover {
                box-shadow: 0 7px 17px 0 var(--dark-500);
            }
        }
    }
}