.switcher-lang {
    position: relative;
    z-index: 1;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        gap: 3px;
        border-radius: 50%;
        font-size: 12px;
        text-transform: uppercase;
        background-color: var(--main-gradient);
        cursor: pointer;
        transition: background-color 0.3s, outline 0.3s, box-shadow 0.3s, opacity 0.3s;

        &:hover {
            background-color: var(--secondary-green);

            &.current {
                outline-color: transparent;
            }
        }

        &:focus {
            outline: 1px solid var(--secondary-green);

            &.current {
                outline-color: var(--secondary-green);
            }
        }

        &:active {
            opacity: 0.5;

            &.current {
                opacity: 100%;
                outline-color: transparent;
                background-color: transparent;
                box-shadow: inset 4px 4px 6px var(--secondary-green);
            }
        }
    }

    &__link.current {
        outline: 1px solid var(--accent);
    }

    &__link--uk {
        position: absolute;
        top: 50%;
        z-index: -1;
        background-color: var(--background-progressbar);
        width: 100%;
        height: 71px;
        border-radius: 0 0 22px 22px;
        padding-top: 30px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;

        &.active {
            opacity: 100%;
            pointer-events: all;
        }
    }
}