.team-card {
    display: flex;
    align-items: center;
    gap: 20px;

    &__subtitle {
        font-size: 18px;
        color: var(--accent);
    }

    &__img {
        order: -1;
        border-radius: 50%;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color 0.3s, outline 0.3s;

        &:hover {
            background-color: var(--secondary-green);
        }

        &:focus {
            outline: 1px solid var(--secondary-green);
        }

        &:active {
            background-color: transparent;
            outline-color: transparent;
            box-shadow: inset 4px 4px 6px var(--secondary-green);
        }
    }
}