body {
    font-family: "Rubik", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: normal;
    font-style: normal;
    color: var(--main-text);
    min-height: 100vh;
    background-image: linear-gradient(var(--main-gradient), var(--main-gradient-secondary), var(--main-gradient), var(--main-gradient-secondary), var(--main-gradient));
    transition: background-color 0.3s, color 0.3s;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon {
    fill: currentColor;
}

.section {
    padding: 200px 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: "Nunito", serif;
    font-size: 70px;
    line-height: 1.2;
    color: var(--accent);
    text-align: center;
    margin-bottom: 75px;
}

.logo {
    border-radius: 30px;
    outline-offset: 13px;
    transition: transform 0.3s, outline 0.3s, opacity 0.3s;

    &:hover {
        transform: scale(1.2);
    }

    &:focus {
        outline: 1px solid var(--secondary-green);
    }

    &:active {
        opacity: 0.6;
    }
}

.cta {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 16px 29px 13px;
    font-size: 18px;
    background-color: var(--accent);
    color: var(--background);
    line-height: 1;
    border-radius: 20px;
    outline-offset: 7px;
    transition: background-color 0.3s, color 0.3s, outline 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: var(--secondary-green);
        color: var(--accent);
    }

    &:focus {
        outline: 1px solid var(--secondary-green);
    }

    &:active {
        background-color: transparent;
        color: var(--accent);
        box-shadow: inset 4px 4px 6px var(--secondary-green);
    }
}