html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a,
button {
    outline: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}