:root {
    --main-gradient: #171719;
    --main-gradient-secondary: #172621;
    --background: rgba(22, 28, 28, 0.8);
    --accent: #ECECEC;
    --main-text: #C5C5C5;
    --background-menu: #282828;
    --background-progressbar: #282828;

    //Single-use style
    --accent-light: #ECECEC;
    --accent-dark: #171719;
    --shadow-dashboard-opacity-15: rgba(23, 23, 25, 0.15);
    --shadow-dashboard-opacity-35: rgba(23, 23, 25, 0.35);
    --background-opacity: rgba(217, 217, 217, 0.8);
    --background-menu-link: #282828;

    --dark-800-opacity: rgba(40, 40, 40, 0.7);
    --dark-700: #393D3D;
    --light: #E6E6E6;
    --dark-500: rgba(25, 25, 25, 0.6);
    --light-700: #ACACAC;
    --secondary-green: #034025;
    --green: #0F7E4E;
    --secondary-yellow: #DAB020;

    .light-theme.active {
        --main-gradient: #EAE8E8;
        --main-gradient-secondary: #BACFC6;
        --background: rgba(240, 240, 240, 0.8);
        --accent: #171719;
        --main-text: #282828;
        --background-menu: #DBDBDB;
        --background-progressbar: #EAE8E8;

        --dark-500: rgba(130, 130, 130, 0.6);
    }
}