:root {
    --main-gradient: #171719;
    --main-gradient-secondary: #172621;
    --background: rgba(22, 28, 28, 0.8);
    --accent: #ECECEC;
    --main-text: #C5C5C5;
    --background-menu: #282828;
    --background-progressbar: #282828;
    
    //Single-use style
    --dark-800-opacity: rgba(40, 40, 40, 0.7);
    --dark-700: #393D3D;
    --light: #E6E6E6;
    --light-700: #ACACAC;
    --secondary-green: #034025;                                     
    --green: #0F7E4E;
    --secondary-yellow: #DAB020;

    .light-theme.active {
        --main-gradient: #EAE8E8;
        --main-gradient-secondary: #BACFC6;
        --background: #D9D9D9;
        --accent: #171719;
        --main-text: #282828;
        --background-menu: #DBDBDB;
        --background-progressbar: #ACACAC;
    }
}