.faq {
    padding-top: 0;

    &__title {
        text-transform: uppercase;
    }

    &__list {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding: 25px 52px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        transition: margin 0.3s;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 100%;
            background-color: $secondary-yellow;
        }

        &.active {
            &:not(:last-child) {
                margin-bottom: 70px;
            }

            .faq__subtitle {
                margin-bottom: 38px;
            }

            .faq__description {
                opacity: 100%;
                transform: translateY(0);
            }

            .faq__button {
                &::before {
                    transform: rotate(135deg);
                }

                &::after {
                    transform: rotate(45deg);
                }
            }
        }
    }

    &__content {
        max-width: 880px;
        width: 100%;
        margin-right: auto;
    }

    &__subtitle {
        font-family: "Nunito", serif;
        font-size: 20px;
        color: $accent-light;
        font-weight: 600;
    }

    &__description {
        line-height: 1.5;
        transition: opacity 0.3s, transform 0.3s;
        opacity: 0;
        transform: translateY(-100%);
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 2px solid $green-500;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 18px;
            border-radius: 1px;
            background-color: $green-500;
            transition: transform 0.3s;
        }

        &::before {
            transform: rotate(90deg);
        }
    }
}