.offer {
    max-width: 1920px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--dark-800-opacity);
    }

    &__inner {
        max-width: 603px;
        width: 100%;
        padding: 72px 40px;
        background-color: var(--background);
        border-radius: 20px;
        transition: background-color 0.4s;
    }

    &__title {
        font-size: 35px;
        margin-bottom: 44px;
        font-family: "Nunito", serif;
        color: var(--accent);
    }

    &__description {
        margin-bottom: 60px;
    }

    &__subtitle {
        font-family: "Nunito", serif;
        color: var(--accent);
        font-size: 20px;
        margin-bottom: 24px;
    }

    &__team-item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 30px;

            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                width: 100%;
                height: 1px;
                background-color: var(--main-gradient);
                transition: background-color 0.3s;
            }
        }
    }
}