.statistic {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 80px;
    }

    &__list {
        display: flex;
        gap: 45px;
        max-width: 576px;
        width: 100%;
        border-radius: 40px;
        background-color: var(--background);
        padding: 56px 60px;
        transition: background-color 0.3s;
    }

    &__item {
        text-align: center;

        &::after {
            content: "";
            display: block;
            width: 61px;
            height: 60px;
            margin: 0 auto;
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--facebook::after {
            background-image: url('../images/social/facebook.png');
        }

        &--telegram::after {
            background-image: url('../images/social/telegram.png');
        }

        &--instagram::after {
            background-image: url('../images/social/instagram.png');
        }

        &--tiktok::after {
            background-image: url('../images/social/tiktok.png');
        }
    }

    &__line {
        display: flex;
        align-items: flex-end;
        width: 60px;
        height: 561px;
        margin: 25px auto;
        border-radius: 20px 20px 10px 10px;
        background-color: var(--background-progressbar);
    }

    &__cover {
        background-color: var(--green);
        border-radius: 0 0 10px 10px;
        width: 100%;
    }

    &__list-feature-item {
        max-width: 512px;
        width: 100%;
        border-radius: 30px;
        padding: 27px 35px;
        background-color: var(--background);
        transition: background-color 0.4s;

        &:not(:last-child) {
            margin-bottom: 48px;
        }
    }

    &__list-feature-title {
        margin-bottom: 26px;
        font-size: 20px;
        color: var(--accent);
        font-weight: 500;
        font-family: "Nunito", serif;
    }

    &__list-feature-description {
        line-height: 1;
    }
}