<header class="header">
    <div class="container">
        <nav class="menu">
            <a class="logo" href="#">
                <img class="logo__img logo__img--light" src="./images/logo-light.svg" alt="Logo of the Social Spark agency" width="137" height="75">
                <img class="logo__img logo__img--black" src="./images/logo-dark.svg" alt="Logo of the Social Spark agency" width="137" height="75">
            </a>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        About
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        FAQ
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Social platforms
                    </a>
                </li>
            </ul>
            <div class="user-menu">
                @@include('switcherLang.html')
                <a class="sing-up" href="#">
                    Sign up
                </a>
            </div>
        </nav>
    </div>
</header>