<header class="header">
    <div class="container">
        <nav class="menu">
            <a class="logo" href="#">
                <img class="logo__img" src="./images/logo.svg" alt="@@altDesc" width="137"
                    height="75">
            </a>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        @@aboutLink
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        FAQ
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        @@platformsLink
                    </a>
                </li>
            </ul>
            <div class="user-menu">
                <div class="switcher-lang">
                    <span class="switcher-lang__link current" href="#">
                        @@currentLang
                        <svg class="icon switcher-lang__icon" width="6" height="5">
                            <use href="./images/sprite.svg#arrow-down"></use>
                        </svg>
                    </span>
                    <ul class="switcher-lang__list">
                        <li class="switcher-lang__item">
                            <a class="switcher-lang__link" href="@@srcLang.html">
                                @@lang
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="sing-up" href="#">
                    @@singUp
                </a>
            </div>
        </nav>
    </div>
</header>